/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
}

.app {
  min-width: 80%;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #333;
}

/* Upload Form Styles */
.upload-form {
  margin-bottom: 20px;
}

/* Filter and Search Styles */
label {
  margin-right: 10px;
  font-weight: bold;
}

select, input[type="text"] {
  padding: 8px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

select:focus, input[type="text"]:focus {
  border-color: #007bff;
}

/* Log Table Styles */
.log-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.log-table th, .log-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.log-table th {
  background-color: #007bff;
  color: white;
}

.log-table tr:hover {
  background-color: #f1f1f1;
}

/* No Logs Message */
p {
  text-align: center;
  color: #666;
}

.uploadbtn{
  background-color: #007bff;
}